<div class= "row">
  <div class="col-md-4">
  <div class= "architect img "> <img src="/assets/images/img6.png" alt="">
  </div>
</div>
<div class="col-lg-8">
  <h1>ENGINEERING WORKS:  WHO WE ARE?</h1>

        <p>Engineering Works was established in 1976, and since its inception has undertaken projects in all major fields of civil engineering and allied electrical works. The founder of the firm, Major (R) Nawaz A. Minhas is a civil engineer by profession, and has to his credit hundreds of projects all over the country.

            Engineering Works is registered with the Pakistan Engineering Council (PEC) and holds the CA (no limit) license. The company is capable of handlings projects related to buildings, flexible/rigid pavements, runways, roads and bridges, rehabilitation of bridges, marine works and pipeline works. By virtue of its design cell and rich experience of its engineers, the company can also deliver projects on turnkey basis.

            Engineering Works has had the privilege of completing the Navy Heights buildings in Karachi; these towers stand eighteen (18) storeys high and were completed in a record time. Other significant building projects to its credit are the Mall of Lahore in Cantt, DHA O/A Levels School in Karachi, ICI Office Buildings in Karachi, Naval Headquarters in Islamabad, Safari Villas in Bahria Town Rawalpindi and rehabilitation of Pearl Continental Hotels in Karachi, Rawalpindi and Lahore.

            The company comprises of a team of skilled engineers whose individual experience reflects the capability and potential of the organization. Engineering Works has a wide range of construction equipment such as transit mixers, batching plants, concrete pumps, tower cranes, loaders, excavators etc. Any specialized equipment not available with the company which is required for a project is either taken on rent basis or acquired.

            We are proud to say that Engineering Works has an excellent reputation in the armed forces, government and private sectors. Engineering Works was also the seventh (7th) highest tax payer in Pakistan for the year 2013.

            Our consolidated turnover for the last 5 years is in excess of PKR 10 billion. We have completed all projects assigned to us to the utmost satisfaction of the customer.
        </p>
    </div>
 </div>
