<h1 class="welcome-text">BUILDING A BETTER NATION</h1>

<carousel [noPause]="false">
  <slide>
    <div class="carousel-caption d-none d-md-block">
      <h3>WE BUILD QUALITY</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
    <img src="assets/images/img1.jpg" alt="First slide" >

  </slide>
  <slide>
    <img src="assets/images/img2.jpg" alt="Second slide" >
    <div class="carousel-caption d-none d-md-block">
      <h3>WE BUILD AWESOME</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/img3.jpg" alt="Third slide" >
    <div class="carousel-caption d-none d-md-block">
      <h3>WE BUILD STRONG</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>
<div class= "row" >
<h1>About Us</h1>

</div>
<div class= "row" >
<button routerLink="/about" class="btn btn-dark btn-group-lg"> Learn More</button>
  </div>
