.card{
  width: 18rem;
}
.projImg{
 height: 250px;
};
.card-img-wrapper{
  overflow: hidden;
  position: relative;
}
.card-body h1 {
  font-family: fantasy;
  color: #0069d9;
}
.card{
  position: relative;
}
