<div class="jumbotron">
  <h1 class="display-4">Contact Us</h1>
  <h3 class="lead"> Get in touch with us </h3>
  <hr class="my-4">
  email us at <a>engineering_works@abc.com </a> for more queries.
</div>
<div class="row">
  <div class= "shadow-lg col-sm-4 p-3">
  <div class= "card">
    <img class= "card-img-top prop-img"  src="/assets/images/lahore.jpg" alt="card image">
    <div class= "card-body">
      <h5 class="card-title">Lahore Office</h5>
      <p class="card-text">☎ Contact no. 042-37777777</p>
  </div>
  </div>
</div>
<div class= "shadow-lg col-sm-4 p-3">

    <div class= "card">
      <img class= "card-img-top prop-img"   src="/assets/images/karachi.jpg" alt="card image">
      <div class= "card-body">
        <h5 class="card-title">Karachi Office</h5>
        <p class="card-text">☎ Contact no. 051-87777777</p>
    </div>
    </div>
  </div>


    <div class= "shadow-lg col-sm-4 p-3">
      <div class= "card">
        <img class= "card-img-top prop-img"  src="/assets/images/islamabad.jpg" alt="card image">
        <div class= "card-body">

          <h5 class="card-title">Islamabad Office</h5>
          <p class="card-text">☎ Contact no. 021-37777777  </p>
      </div>
      </div>
      </div>
</div>
